.bm-monitor-group {
    border: solid 1px var(--bm-grey--light);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.bm-monitor-group__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px
}

.bm-monitor-group__heading {
    color: var(--bm-grey--dark);
    margin-bottom: 0;
}

.bm-monitor-info-block {
    border: solid 2px var(--bm-grey--dark);
    text-align: center;
    border-radius: 8px;
    padding: 30px 0;
    cursor: default;
    margin-bottom: 12px;
}

.bm-monitor-info-block--blue {
    color: var(--bm-blue);
    border-color: var(--bm-blue);
    background-color: var(--bm-blue--lightest);
}

.bm-monitor-info-block--green {
    color: var(--bm-green);
    border-color: var(--bm-green);
    background-color: var(--bm-green--light);
}

.bm-monitor-info-block--red {
    color: var(--bm-red);
    border-color: var(--bm-red);
    background-color: var(--bm-red--light);
}

.bm-monitor-info-block-link {
    text-decoration: none;
}

.bm-monitor-info-block-link .bm-monitor-info-block--blue:hover {
    color: var(--bm-blue--dark);
    border-color: var(--bm-blue--dark);
    background-color: var(--bm-blue--lighter);
}

.bm-monitor-info-block-link .bm-monitor-info-block {
    cursor: pointer;
}

.bm-monitor-info-block__title {
    font-size: 16px;
}

.bm-monitor-info-block__text {
    text-transform: uppercase;
}

.bm-monitor-update-button {
    background-color: var(--bm-blue);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 6px 8px;
    width: fit-content;
    margin-bottom: 8px;
}

.bm-monitor-update-button:hover {
    background-color: var(--bm-blue--dark);
    color: white;
}

.bm-monitor-update-button__icon {
    margin-right: 4px;
}

.bm-monitor-dial__wrapper {
    width: 100%;
    margin-bottom: -48px
}

.bm-monitor-info-block-fill__title {
    padding: 30px;
    font-size: 30px;
    display: block;
}

.bm-monitor-info-block__title-fill {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 45px;
}

.bm-monitor-info-block-fill-qa {
    height: 200px;
    margin-top: 10px;
    border-color: var(--bm-grey);
}

.bm-monitor-info-block--fill__button{
    padding: 50px;
    font-size: 2em;
    display: block;
}
.col-md-4-fill-qa{
    width: 100%;
}

.batch-form .maintenance-form {
	display: none;
}

.entry-type input[value="Batch"]:checked ~ .batch-form {
	display: block;
}

.bm-warning-banner {
    color: var(--bm-red);
    border: solid 2px var(--bm-red);
    border-radius: 4px;
    padding: 16px 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 12px;
}

.bm-warning-banner__content__list {
    margin: 0;
}

.fill-room-qa__info {
    text-align: left;
}

.fill-room-qa {
    width: 95%;
}

.bm-fill-room-qa-table{
    border-radius: 30px;
    width: 95%;
    margin: 0 45px;
}