.bm-prod-line-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border: solid 2px;
  padding: 16px;
  border-radius: 4px;
}

.bm-prod-line-empty--orange {
  border-color: var(--bm-orange);
  color: var(--bm-orange);
}

.bm-prod-line-empty--grey {
  border-color: var(--bm-grey);
  color: var(--bm-grey);
}

.bm-prod-line-empty__icon {
  margin: 12px 0;
}