.bm-prod-line-tab {
  font-weight: 600;
}

.bm-prod-line-tab__link {
  color: var(--bm-grey--dark)
}

.bm-prod-line-tab__link--active {
  color: var(--bm-blue)
}

.bm-prod-line-tab__content {
  padding: 20px 16px;
  border: 1px solid var(--bm-grey--lighter);
  border-top: none;
  border-radius: 0 0 4px 4px ;
}

