:root {
  --bm-blue: #0000b6;
  --bm-blue--light: #caf0ff;
  --bm-green: #168039;
  --bm-green--light: #C1E1C1;
  --bm-red: #ff0000;
  --bm-red--light: #faa0a0;
  --bm-grey--dark: #333;
  --bm-grey--light: #bebebe

}

header {
  padding: 20px 12px;
  background-color: #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 14px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6e6e6;
}

nav {
  background-color: var(--bm-grey--dark);
  color: #fff;
  padding: 10px;
  margin-bottom: 16px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.form-group {
  margin-bottom: 10px;
}

/*change to indiviudal stylesheets for tabs*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}