:root {
    --bm-blue--dark: #00008B;
    --bm-blue: #0000b6;
    --bm-blue--light: #29b6f6;
    --bm-blue--lighter: #b3e5fc;
    --bm-blue--lightest: #caf0ff;
    --bm-green: #168039;
    --bm-green--light: #C1E1C1;
    --bm-red: #ff0000;
    --bm-red--light: #faa0a0;
    --bm-orange: #EE7822;
    --bm-grey--dark: #333;
    --bm-grey: #888;
    --bm-grey--light: #bebebe;
    --bm-grey--lighter: #dee2e6;
    --bm-grey--lightest: #f9f9f9;
}

header {
    padding: 20px 12px;
    background-color: #ccc;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    background-color: var(--bm-grey--light);
}

tr:nth-child(even) {
    background-color: var(--bm-grey--lightest);
}

tr:hover {
    background-color: var(--bm-grey--lighter);
}

nav {
    background-color: var(--bm-grey--dark);
    color: #fff;
    padding: 10px;
    margin-bottom: 16px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

.form-group {
    margin-bottom: 10px;
}


input, select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    padding: 12px 12px 12px 0;
}

input[type=submit]:hover {
    background-color: var(--bm-grey);
}

div.form {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 5px;
}

div.form label {
    text-align: right;
}

div.form label:after {
    content: ":";
}

.production-calendar a {
    color: black;
}