<div>
    <h6>Batch details</h6>
    <div class="form-group">
        <label for="prod-type">Product Type</label>
        <select id="prod-type" name="Product Type" required>
            <option value="12345">cell culture 1</option>
            <option value="12346">cell culture 2</option>
            <option value="12347">cell culture 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" required>
    </div>
</div>
