<div>
    <h6>Maintenance Activity Details</h6>
    <div class="form-group">
        <label for="plant_id">Plant ID #</label>
        <select id="plant_id" name="plant_id" required>
            {% for plant in plants %}
                <option value="{{ plant }}">{{ plant }}</option>
             {%  endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="work_description">Description of Work</label>
        <input type="text" id="work_description" name="work_description" required>
    </div>
    <div class="form-group">
        <label for="operators">Operator(s)</label>
        <select id="operators" multiple="multiple">
             {%  for operator in operators %}
                <option value="{{ operator }}">{{ operator }}</option>
             {%  endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="parts_replaced">Parts to be Replaced</label>
        <input type="text" id="parts_replaced" name="parts_replaced" required>
    </div>
    <div class="form-group">
        <label for="parts_cost">Parts Cost (£)</label>
        <input type="number" id="parts_cost" name="parts_cost" required>
    </div>
    <div class="form-group">
        <label for="shutdown_required">Shutdown Required</label>
        <input type="checkbox" id="shutdown_required" name="shutdown_required" value="shutdown_required">
    </div>
    <div class="form-group">
        <label for="planned">Is this activity planned:</label>
        <input type="checkbox" id="planned" name="planned" value="shutdown_required">
    </div>
</div>

