{% extends 'base.html' %}

{% block head %}
<script>
    function prodActivityChange(type) {
        form = document.getElementById('prod-activity-extended-form')

        innerHtml = ''
        if (type === 'maintenance') {
            innerHtml = `{% include 'production-schedule/maintenance-schedule-entry.html' %}`
        } else if (type === 'batch-manufacture') {
            innerHtml = `{% include 'production-schedule/batch-schedule-entry.html' %}`
        }

        form.innerHTML = innerHtml
    }
</script>
{% endblock %}

{% block content %}
<form action="/add-prod-activity" method="post">
    <div class="form-group">
        <label for="prod-line">Production Line</label><br/>
        <select id="prod-line" name="Production Line" required>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
    </div>
    <div class="form-group">
        <label for="batch-date">Date (ddmmyy format):</label><br/>
        <input type="date" id="batch-date" name="date" required>
    </div>
    <div class="form-group">
        <label for="batch-start-time">Time (24-hour format):</label><br/>
        <input type="time" id="batch-start-time" name="time" required>
    </div>
    <div class="form-group">
        <label for="prod-duration">Production Duration (Hours)</label><br/>
        <input type="number" id="prod-duration" name="Production Duration" required>
    </div>
    <div class="form-group">
        <label>Type of Activity:</label><br/>
        <input onclick="prodActivityChange('batch-manufacture')" type="radio" id="batch_manufacture"
               name="prod_activity_type" value="batch_manufacture" required>
        <label for="batch_manufacture">Batch Manufacture</label><br>
        <input onclick="prodActivityChange('maintenance')" type="radio" id="maintenance" name="prod_activity_type"
               value="maintenance" required>
        <label for="maintenance">Maintenance</label><br>
    </div>

    <div id="prod-activity-extended-form"></div>

    <div class="form-group">
        <button class="bm-button--primary" type="submit" id="submit" value="Submit">Submit</button>
    </div>
</form>

{% endblock %}