{% extends 'base.html' %}

{% block head %}
<script>
    function prodActivityChange(type) {
        form = document.getElementById('prod-activity-extended-form')

        innerHtml = ''
        if (type === 'maintenance') {
            innerHtml = `{% include 'production-schedule/maintenance-schedule-entry.html' %}`
        } else if (type === 'batch') {
            innerHtml = `{% include 'production-schedule/batch-schedule-entry.html' %}`
        }

        form.innerHTML = innerHtml
    }
</script>
{% endblock %}

{% block content %}
<form action="/add-prod-activity" method="post">
    <div class="form-group">
        <label for="prod_line">Production Line</label><br/>
        <select id="prod_line" name="prod_line" required>
            {%  for prod_line in prod_lines %}
                <option value="{{ prod_line }}">{{ prod_line }}</option>
            {%  endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="start">Production Start (ddmmyy HH:mm format):</label><br/>
        <input type="datetime-local" id="start" name="start" required>
    </div>
    <div class="form-group">
        <label for="duration">Production Duration (Hours)</label><br/>
        <input type="number" id="duration" name="duration" required>
    </div>
    <div class="form-group">
        <label for="prod_activity_type">Type of Activity:</label><br/>
        <input  onclick="prodActivityChange('batch')" type="radio" id="batch"
               name="prod_activity_type" value="batch" required>
        <label for="batch">Batch Manufacture</label><br>
        <input onclick="prodActivityChange('maintenance')" type="radio" id="maintenance" name="prod_activity_type"
               value="maintenance" required>
        <label for="maintenance">Maintenance</label><br>
    </div>

    <div id="prod-activity-extended-form"></div>

    <div class="form-group">
        <label for="submit"></label>
        <input type="submit" id="submit" value="Submit">
    </div>
</form>

{% endblock %}