:root {
  --bm-blue: #0000b6;
  --bm-blue--light: #caf0ff;
  --bm-grey--dark: #333;
}

header {
  height: 100px;
  background-color: #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 14px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6e6e6;
}

nav {
  background-color: var(--bm-grey--dark);
  color: #fff;
  padding: 10px;
  margin-bottom: 16px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

.form-group {
  margin-bottom: 10px;
}

a {
  color: var(--bm-blue)
}
