<div>

    <h3>Batch Schedule Entry</h3>

    <div class="form">

        <label for="prod-line">Production Line</label>
        <select id="prod-line" name="Production Line" required>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>

        <label for="prod-type">Product Type</label>
        <select id="prod-type" name="Product Type" required>
            <option value="12345">cell culture 1</option>
            <option value="12346">cell culture 2</option>
            <option value="12347">cell culture 3</option>
        </select>

        <label for="batch-date">Date (ddmmyy format):</label>
        <input type="date" id="batch-date" name="date" required>

        <label for="batch-start-time">Time (24-hour format):</label>
        <input type="time" id="batch-start-time" name="time" required>

        <!--    <label for="batch-end-time">Time (24-hour format):</label>-->
        <!--    <input type="time" id="batch-end-time" name="time" required><br><br>-->

        <label for="prod-duration">Production Duration (Hours)</label>
        <input type="number" id="prod-duration" name="Production Duration" required>

        <label for="submit-batch-schedule"></label>
        <input type="submit" id="submit-batch-schedule" value="Submit">
    </div>

    {% if response %}
    <div>{{ response }}</div>
    {% endif %}
</div>