<!DOCTYPE html>
<html>

   <head>
      <title>Management Information Dashboard</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheet.css') }}">
   </head>

   <body>
      <div class="container">

         <header>
            <h1>Information Dashboard</h1>
         </header>

         <nav>
            <ul>
               <li><a href="dashboard">Dashboard</a></li>
               <li><a href="productionLine">Production Line Status</a></li>
               <li><a href="qualityAssurance">Quality Assurance Data</a></li>
               <li><a href="productionSchedule">Production Schedule Overruns</a></li>
               <li><a href="maintenanceLog">Maintenance Log</a></li>
            </ul>
         </nav>

         <div class="row">

            <div class="col">
               <h2>Production Line Status</h2>
               <table>
                  <thead>
                     <tr>
                        <th>Line</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="clickable">
                        <td>Line 1</td>
                        <td>Good</td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <div class="col">
               <h2>Quality Assurance Data</h2>
               <table>
                  <thead>
                     <th>Batch</th>
                     <th>Reason</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="clickable">
                        <td>Batch 1</td>
                        <td>Broken</td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <div class="col">
               <h2>Production Schedule Overruns</h2>
               <table>
                  <thead>
                     <tr>
                        <th>Production Line</th>
                        <th>Overrun</th>
                        <th>Reason</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="clickable">
                        <td>Line 1</td>
                        <td>1 day</td>
                        <td>Broken</td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>
      </div>
   </body>
</html>