{% extends 'prod-line-monitor.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/monitor.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/pureknob.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/expansion_dials.js') }}"></script>
{% endblock %}

{% block prod_activity %}
{% for flask in monitor.flasks %}
<div class="bm-monitor-group">
    <h3 class="bm-monitor-group__heading">Flask Monitor ({{flask.id}})</h3>
    <div class="row g-2">
        <div class="col-md-4">
            <div class="bm-monitor-info-block" value="{{flask.temp}}" min="{{product.min_temp}}" max="{{product.max_temp}}" unit="°C">
                <h4 class="bm-monitor-info-block__title">Temperature</h4>
                <div class="bm-monitor-dial__wrapper"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bm-monitor-info-block" value="{{flask.ph}}" min="{{product.min_ph}}" max="{{product.max_ph}}">
                <h4 class="bm-monitor-info-block__title">Ph</h4>
                <div class="bm-monitor-dial__wrapper"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bm-monitor-info-block" value="{{flask.osmolality}}" min="{{product.min_osmolality}}" max="{{product.max_osmolality}}">
                <h4 class="bm-monitor-info-block__title">Osmoality (mOsmol/kg)</h4>
                <div class="bm-monitor-dial__wrapper"></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
