{% extends 'base.html' %}

{% block content %}
    <h4>Update Expansion Monitor for {{batch_no}} - (stage_name) - flask ID: (flask_id)</h4>
    <form action="/update_expansion_monitor/{{prod_line}}/{{batch_no}}/{{monitor_id}}" method="post">
        <div class="form-group">
            <label for="temperature">Temperature (*C):*</label><br/>
            <input name="temperature" id="temperature" type="number">
        </div>
        <div class="form-group">
            <label for="ph">Ph:*</label><br/>
            <input name="ph" id="ph" type="number">
        </div>
        <div class="form-group">
            <label for="osmolality">Osmolality:*</label><br/>
            <input name="osmolality" id="osmolality" type="number">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    {% if form_validation %}
        <div>{{ form_validation }}</div>
    {% endif %}
{% endblock %}