{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prod_line.css') }}"
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/monitor.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stepper.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pureknob.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/expansion_dials.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/stages.js') }}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });

    function addBatchSchedule() {
        window.location.href = '/maintenance-batch-entry/batch'
    }

    function addBatchMaintenance() {
        window.location.href = '/maintenance-batch-entry/main'
    }


</script>
{% endblock %}

{% block content %}

{% if entry_type in 'select' %}
<div class="row g-2">
    <div class="col-md-4">
        <!--        <select class="entry-type" id="entry-type" name="entry-type" required>-->
        <!--            <option value="Batch">Batch Schedule Entry</option>-->
        <!--            <option value="Maintenance">Maintenance Schedule Entry</option>-->
        <!--        <div class="entry-type">-->
        <!--            <input id="bt1" type="radio" name="type" value="Batch">-->
        <!--            <label for="bt1"> Batch Schedule Entry</label>-->
        <!--            <input id="bt2" type="radio" name="type" value="Maintenance">-->
        <!--            <label for="bt2"> Maintenance Schedule Entry</label>-->
        <!--        </select>-->
    </div>
    <div class="col-md-4">
        <div onclick="addBatchSchedule()"
             class="bm-monitor-update-button">
            <h6 class="bm-monitor-info-block__title">Add Batch Schedule Entry</h6>
        </div>
    </div>
    <div class="col-md-4">
        <div onclick="addBatchMaintenance()"
             class="bm-monitor-update-button">
            <h6 class="bm-monitor-info-block__title">Add Batch Maintenance Entry</h6>
        </div>
    </div>
</div>
{% endif %}


{% if entry_type in 'batch' %}

<div class="batch-form">
    {% include 'batch-schedule-entry.html' %}
</div>

{% endif %}

{% if entry_type in 'main' %}

<div class="maintenance-form">
    {% include 'maintenance-entry.html' %}
</div>

{% endif %}

{% endblock %}