<div>
    <h3>Batch Maintenance Entry</h3>
    <div class="form">
        <label for="monitor-date">Date (ddmmyy format)</label>
        <input type="date" id="monitor-date" name="date" required>

        <label for="monitor-start-time">Start Time (24-hour format)</label>
        <input type="time" id="monitor-start-time" name="time" required>

        <!--    <label for="monitor-end-time">End Time (24-hour format)</label>-->
        <!--    <input type="time" id="monitor-end-time" name="time" required>-->

        <label for="main-duration">Maintenance Duration (Hours)</label>
        <input type="number" id="main-duration" name="Maintenance Duration" required>


        <label for="plant-ID">Plant ID # (numeric)</label>
        <select id="plant-ID" name="plant-ID" required>
            <option value="IRV123456">example plant1 (IRV123456)</option>
            <option value="IRV123457">example plant2 (IRV123457)</option>
            <option value="IRV123458">example plant3 (IRV123458)</option>
            <option value="IRV123459">example plant4 (IRV123459)</option>
        </select>

        <label for="work-description">Description of Work</label>
        <input type="text" id="work-description" name="work-description" required>

        <label for="man-hours">Man Hours:</label>
        <input type="number" id="man-hours" name="man-hours" required>

        <label for="operators">Operator(s)</label>
        <select id="operators" class="js-example-basic-multiple" multiple="multiple">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
        </select>

        <label for="parts-replaced">Parts to be Replaced</label>
        <input type="text" id="parts-replaced" name="parts-replaced" required>

        <label for="parts-cost">Parts Cost (£)</label>
        <input type="number" id="parts-cost" name="parts-cost" required>

        <label for="osmolality">Osmolality</label>
        <input type="checkbox" id="osmolality" name="osmolality" value="osmolality">

        <label for="sterility">Sterility</label>
        <input type="checkbox" id="sterility" name="sterility" value="sterility">


        <label for="shutdown-needed">Shutdown Required</label>
        <input type="checkbox" id="shutdown-needed" name="osmolality" value="osmolality">

        <label for="planned-activity">Shutdown required</label>
        <input type="checkbox" id="planned-activity" name="sterility" value="sterility">

        <label for="submit-maintenance-schedule"></label>
        <input type="submit" id="submit-maintenance-schedule" value="Submit">
    </div>
            {% if response %}
            <div>{{ response }}</div>
        {% endif %}
</div>
