<div class="row">
    <a class="bm-monitor-link" href="/update_passage_monitor"><i class="fas fa-edit"></i>Update Monitor</a>
</div>
<div class="row g-2">
    <div class="col-md-3">
        <div class="bm-monitor-info-block">
            <h6 class="bm-monitor-info-block__title">Peristaltic Pump</h6>
            <span class="bm-monitor-info-block__text">{{ passage_monitor.peristaltic_pump }}</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bm-monitor-info-block">
            <h6 class="bm-monitor-info-block__title">Cell Count</h6>
            <span class="bm-monitor-info-block__text">{{ passage_monitor.cell_count }}</span>
        </div>
    </div>

    {% if qa %}
    <div class="col-md-3">
        <div class="bm-monitor-info-block bm-monitor-info-block--{{qa.colour}}">
            <h6 class="bm-monitor-info-block__title">QA Results</h6>
            <span class="bm-monitor-info-block__text">{{ passage_qa.status }}</span>
        </div>
    </div>
        {% if passage_qa.status == 'pass' %}
        <div class="col-md-3">
            <div class="bm-monitor-info-block bm-monitor-info-block--blue bm-monitor-info-block--clickable">
                <h6 class="bm-monitor-info-block__title">Proceed to next stage</h6>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="col-md-3">
        <div onclick="addQA()" class="bm-monitor-info-block bm-monitor-info-block--blue bm-monitor-info-block--clickable">
            <h6 class="bm-monitor-info-block__title">Add QA</h6>
            <i class="fa-xl fa-solid fa-plus bm-monitor-info-block__button"></i>
        </div>
    </div>
    {% endif %}
</div>

<script>
function addQA() {
  window.location.href = '/qa-entry'
}
</script>