{% extends 'base.html' %}

{% block content %}
    <form action="/update_passage_monitor" method="post">
        <div class="form-group">
            <label for="peristaltic_pump">Enter flow rate of peristaltic pump:*</label><br/>
            <select name="peristaltic_pump" id="peristaltic_pump">
                 <option value="off">Off</option>
                <option value="low">Low</option>
                <option value="high">High</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cell_count">Enter current cell count:*</label><br/>
            <input type="number" name="cell_count" id="cell_count" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    {% if form_validation %}
        <div>{{ form_validation }}</div>
    {% endif %}
{% endblock %}