{% extends 'base.html' %}
{% block content %}
<form action="/update_passage_qa/{{prod_line}}/{{batch_no}}/{{passage_id}}" method="post">
    <div class="form-group">
        <label for="cell-count">Cell Count (numeric):</label>
        <input type="number" id="cell-count" name="cell-count" required><br><br>
    </div>

    <div class="form-group">
        <label for="pH">pH (numeric):</label>
        <input type="number" id="pH" name="pH" required><br><br>
    </div>

    <div class="form-group">
        <label for="osmality">Osmality (numeric):</label>
        <input type="number" id="osmality" name="osmality" required><br><br>
    </div>

    <div class="form-group">
        <label for="sterility">Sterility (numeric):</label>
        <input type="number" id="sterility" name="sterility" required><br><br>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>

</form>
{% if form_validation %}
<div>{{ form_validation }}</div>
{% endif %}
{% endblock %}