<!DOCTYPE html>
<html>

   <head>
      <title>Production Line</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheet.css') }}">
   </head>

   <body>
      <div class="container">

         <header>
            <h1>Information Dashboard</h1>
         </header>

         <nav>
            <ul>
               <li><a href="dashboard.html">Dashboard</a></li>
               <li><a href="productionLine.html">Production Line Status</a></li>
               <li><a href="qualityAssurance.html">Quality Assurance Data</a></li>
               <li><a href="productionSchedule.html">Production Schedule Overruns</a></li>
               <li><a href="maintenanceLog.html">Production Schedule Overruns</a></li>
            </ul>
         </nav>

         <div class="row">

            <div class="col">
               <h2>Line 1</h2>
            </div>

            <div class="col">
               <h2>Line 2</h2>
            </div>

            <div class="col">
               <h2>Line 3</h2>
            </div>

         </div>
      </div>
   </body>
</html>