{% extends 'prod-line-status.html' %}

{% block prod_line_activity %}
<h4>{{batch.batch_no}} - {{batch.prod_type}}</h4>


    <div class="bm-prod-line-stepper">
    </div>
    <div class="bm-stepper" id="stepper">
        {% for stage in stages %}
        <span class="bm-stepper__step bm-stepper__step--{{stage.status}}">{{stage.id}} <i class="fa-solid fa-arrow-right"></i></span>
        {{stage.name}}
        {% endfor %}
    </div>

    <button onClick="moveToNextStage('{{prod_line}}', '{{batch.batch_no}}', '{{batch.current_stage}}')">next step</button>

    {% if expansion_monitor %}
    {% include 'expansion-monitor.html' %}
    {% elif passage_monitor %}
    {% include 'passage-monitor.html' %}
    {% else %}
    <div>start of production - no data</div>
    {% endif %}

    <script>
    function getDescendantElements(parent) {
        return [].slice.call(parent.getElementsByTagName('*'));
    }

    // function load_stages(){
    // let stepperContainer = document.querySelector("#stepper");
    //     for () {
    //         let step = document.createElement('span');
    //         step.classList.add('bm-stepper__step')
    //         stepperContainer.appendChild(step);
    //     }
    // }

    function update_stage(batch_id, prod_line) {

        //update to next stage
        window.location = `/move_to_next_stage/${prodLine}/${batchNo}`;

        let stepperContainer = document.querySelector("#stepper");
        let currentStep = document.getElementsByClassName('bm-stepper__step--current');
        let nextStep = document.getElementsByClassName('bm-stepper__step--next');

        //move current to done
        currentStep.classList.remove('bm-stepper__step--active')
        currentStep.classList.add('bm-stepper__step--complete')

        //move next to current
        nextStep.classList.remove('bm-stepper__step--next')
        currentStep.classList.add('bm-stepper__step--active')

        //find next inactive and move to next


        //update in database

    }

</script>
{% endblock %}