{% extends 'base.html' %}

{% block head %}
<!--stylesheet linkrel-->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js'></script>
<script>

    let eventA = '{{ prod_activity|tojson }}'

    eventB = eventA.toString();
    // let pattern = "\[", re = new RegExp(pattern, "g");
    // eventB.replace(re, "")
    const eventsArray = eventB.split(',');
    console.log(eventsArray)


    document.addEventListener('DOMContentLoaded', function () {

        let calendarEl = document.getElementById('production-calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: '2023-05-07',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events:
            eventA
        });

        calendar.render();

    });


</script>
{% endblock %}

{% block content %}
<h3>{{ heading }}</h3>
{{ prod_activity }}
<div class="production-calendar" id='production-calendar'></div>

{% endblock %}