{% extends 'prod-line-status.html' %}

{% block prod_line_activity %}
<h4>{{ batch.batch_no }} - {{ batch.prod_type }}</h4>

<div class="bm-stepper" id="stepper">
    {% for stage in stages %}
    <div class="bm-stepper__step">
        <span class="bm-stepper__step__circle bm-stepper__step__circle--{{ stage.status }}" {% if stage.status==
        'next' %} onClick="moveToNextStage('{{ prod_line }}', '{{ batch.batch_no }}', '{{ batch.current_stage }}')"
        {% endif %}>
        {% if stage.status == 'next' %}
        <i class="fa-solid fa-arrow-right"></i>
        {% elif stage.status == 'complete' %}
        <i class="fa-solid fa-check"></i>
        {% else %}
        {{ stage.id }}
        {% endif %}
        </span>
        <span class="bm-stepper__step__text">  {{ stage.name }} </span>
    </div>
    {% endfor %}
</div>

{% if expansion_monitor %}
{% include 'expansion-monitor.html' %}
{% elif passage_monitor %}
{% include 'passage-monitor.html' %}
{% else %}
<div>start of production - no data</div>
{% endif %}

{% endblock %}
