<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quality Assurance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylesheet.css') }}">
</head>
<body>
      <div class="container">

         <header>
            <h1>Quality Assurance</h1>
         </header>

         <nav>
            <ul>
               <li><a href="dashboard">Dashboard</a></li>
               <li><a href="productionLine">Production Line Status</a></li>
               <li><a href="qualityAssurance">Quality Assurance Data</a></li>
               <li><a href="productionSchedule">Production Schedule Overruns</a></li>
               <li><a href="maintenanceLog">Maintenance Log</a></li>
            </ul>
         </nav>
      </div>
</body>
</html>